SectionContainer {
}

#proyectos,
#home,
#experiencia,
#sobre-mi {
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 15% cover 25%;
}
@keyframes reveal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
