---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<!-- <h1>Hola, soy Cristian Milesi <Badge>Disponible para trabajar</Badge> </h1>
		<h3>Desarrollador Web Front End. Nacido en Argentina, actualmente viviendo en Italia. Me especializo en la creaci칩n de p치ginas web est치ticas y din치micas. </h3> -->
	</main>
</Layout>

