---
import Layout from '../layouts/Layout.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Case from '../icons/Case.astro';
import CodeIcon from '../icons/CodeIcon.astro';
import Projects from '../components/Projects.astro';
import SobreMi from '../components/SobreMi.astro'
import Home from '../components/Home.astro';
import SobreMiIcon from '../icons/SobreMiIcon.astro';
import './index.css'
---

<Layout title="Portfolio Web de Cristian Milesi - Desarrollador Web" description="Desarrollador Web Front End React con conocimientos en Back End">
	<main class="px-4 mx-auto">
		<SectionContainer id="home" class="py-6 ">
		<Home />
		</SectionContainer>

		<SectionContainer id="projects">
			<h2 class="text-3xl font-semibold  mb-6 flex gap-x-3 items-center text-grayolive-950">
				<CodeIcon class="size-8" />
				Projects</h2>
			<Projects />
		</SectionContainer>
		
		<SectionContainer id="experience">
			<h2 class="text-3xl font-semibold  mb-6 flex gap-x-3 items-center text-grayolive-950">
				<Case class="size-8" />
				Job Experience</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="about-me">
			<h2 class="text-3xl text-grayolive-950 font-semibold  mb-6 flex gap-x-3 items-center">
				<SobreMiIcon class="size-8" />
				About me</h2>
			<SobreMi />
		</SectionContainer>
	</main>
</Layout>

