---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedinIcon from '../icons/LinkedinIcon.astro';
import GithubIcon from '../icons/GithubIcon.astro';
import SocialPill from '../icons/SocialPill.astro'
import MailIcon from '../icons/MailIcon.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Case from '../icons/Case.astro';
import CodeIcon from '../icons/CodeIcon.astro';
import Projects from '../components/Projects.astro';
import SobreMi from '../components/SobreMi.astro'
import Home from '../components/Home.astro';
import SobreMiIcon from '../icons/SobreMiIcon.astro';
---

<Layout title="Portfolio Web de Cristian Milesi - Desarrollador Web" description="Desarrollador Web Front End React con conocimientos en Back End">
	<main class="px-4 mx-auto">
		<SectionContainer id="home" class="py-6 ">
		<Home />
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold  mb-6 flex gap-x-3 items-center text-grayolive-950">
				<CodeIcon class="size-8" />
				Proyectos</h2>
			<Projects />
		</SectionContainer>
		
		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold  mb-6 flex gap-x-3 items-center text-grayolive-950">
				<Case class="size-8" />
				Experiencia laboral</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="sobre-mi">
			<h2 class="text-3xl text-grayolive-950 font-semibold  mb-6 flex gap-x-3 items-center">
				<SobreMiIcon class="size-8" />
				Sobre mi</h2>
			<SobreMi />
		</SectionContainer>
	</main>
</Layout>

