---
import ExperienceItem from "./ExperienceItem.astro"
import './experience.css'

const EXPERIENCE = [
{
    date: 'March 2023',
    title: 'Freelance Front End Web Developer',
    description: 'Undertake small to medium scale projects for both business and personal endeavours. Specialise in creating bespoke designs from inception to development, adhering to SEO best practice. Prioritise responsive and mobile-first design approaches for improved user experience.',
    link: ''
},  
{
    date: '2014 to 2024',
    title: 'High School Music Teacher',
    description: 'Taught Music and related subjects across multiple schools in Paraná (Entre Ríos) and Rosario (Santa Fe). Engaged in interdisciplinary projects and leveraged technology to enhance teaching-learning environments.',
    link: ''
}, 
{
    date: '2015 - Present',
    title: 'Musician, Composer, Singer-Songwriter',
    description: 'As a guitarist and vocalist, I have been part of various artistic projects in the field of music and multidisciplinary collaborations. Independently released an album and an EP. Organized concerts and festivals. Also worked as a composer and sound designer for small video game projects.',
    link: ''
}       
]
---

<ol class="relative border-s  border-gray-200 ml-3">     
    {
        EXPERIENCE.map(experience => (
        <li class="experiencia mb-10 ms-4">
            <ExperienceItem {...experience} />
        </li> 
        )
        )
    }             
    
</ol>


