---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
{
    date: 'Marzo 2023',
    title: 'Desarrollador Web Front End Independiente',
    description: 'Realización de trabajos de pequeña y mediana escala para proyectos empresariales y personales. Diseño desde cero y Desarrollo Web atendiendo a las mejores prácticas de SEO. Realización de Diseño responsive y Mobile First.  ',
    link: '#'
},  
{
    date: '2014 a 2024',
    title: 'Profesor de Música en Escuela Secundarias',
    description: 'Me desempeñé como profesor de Musica y otras materias afines en diversas escuelas de las ciudades de Paraná (Entre Ríos) y Rosario (Santa Fe). Participé en diversos proyectos interdisciplinarios. Utilizé la tecnología como medio para mejorar los espacios de enseñanza-aprendizaje',
    link: ''
}, 
{
    date: '2015',
    title: 'Músico, compositor y cantautor',
    description: 'Como guitarrista y cantante he participado de diversos proyectos arísticos grupales tanto musicales como multidisciplinarios. Como cantautor he publicado un Album y un EP de manera independiente y autogestiva, llevando adelante además la organización de conciertos y festivales junto a otros artistas. He participado ademas como Compositor y Diseñador sonoro en proyectos para videojuegos de pequeña escala.',
    link: ''
}       
]
---

<ol class="relative border-s  border-gray-200 ml-3">     
    {
        EXPERIENCE.map(experience => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...experience} />
        </li> 
        )
        )
    }             
    
</ol>


