

<footer class=" rounded-full shadow bg-patina-950/80 backdrop-blur-lg px-4 w-[90%] xl:w-[1024px] mx-auto my-4">
    <div class="w-full max-w-screen-xl mx-auto   ">
        <div class="flex flex-col md:flex-row items-center justify-between py-2">
            <a href="#home" class="flex items-center mb-2 md:m-3 space-x-3 rtl:space-x-reverse">
                
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-cruise-100">Cristian Milesi</span>
            </a>
            <ul class="flex flex-wrap items-center mb-2 md:m-3 text-sm font-medium text-cruise-50/90 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="#about-me" class="hover:underline transition-all duration-300 me-4 md:me-6">About me</a>
                </li>
                
                <li>
                    <a href="#home" class="hover:underline">Contact</a>
                </li>
            </ul>
            
        </div>
        <p class=" text-xs text-grayolive-300/90 text-center mt-1 pb-2 md:pb-1 w-[100%]">
            2024 - Created based on a Midudev project
        </p>
        
        
    </div>
</footer>

