<header class="flex justify-between items-center py-3 w-[1120px] mx-auto">
    <img class="rounded-full w-16 h-16" src="https://res.cloudinary.com/dx4kaqyx0/image/upload/v1711481131/Portfolio/Foto_5_adexj9_c_crop_ar_1_1_pw0xdp.jpg" alt="Foto personal">

    <nav class="flex flex-row gap-x-10 opacity-90">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>