---
import './sobreMi.css'
---

<div class="flex flex-col gap-y-10">


<div class="sobreMi p-6 bg-grayolive-200/30 rounded-xl text-grayolive-950 text-pretty text-lg">
<p class="sobreMi ">¡Hola! Soy Cristian Milesi, pero mis amigos me dicen Tata. <br> Como <span class=" text-cruise-600"> Desarrollador web </span> me dedico a crear sitios desde cero hasta su publicación. En el último tiempo he trabajado de manera independiente en proyectos para terceros y personales. Paralelamente continúo siempre capacitándome en nuevas tecnologías para estar siempre actualizado y poder responder a las necesidades de los diferentes proyectos.</p> <br>
<p>Me dedico además a hacer música, habiendo participado en diferentes grupos y publicando como cantautor mi álbum “Desmudanzas” en 2023. Además, trabajé como profesor de Música en Paraná y Rosario (Argentina) durante 10 años. </p> <br>
<p>Mi objetivo es seguir creciendo como desarrollador web, aprovechando mis habilidades multidisciplinarias para crear experiencias digitales únicas y significativas.</p>
</div>


</div>