---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro'
import '@fontsource/lato'

Header
interface Props {
	title: string;
	description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="background">
		
		<Header />
		<slot />
		<Footer /> 
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		
		background: rgb(159,179,223);
		background: linear-gradient(312deg, rgba(159,179,223,0.8935223747702206) 0%, rgba(159,179,223,1) 38%, rgba(189,221,228,1) 62%, rgba(255,241,213,0.9635503859747023) 96%);
		

		font-family: 'Lato', sans-serif;
		color: rgb(255, 253, 246);
		scroll-behavior: smooth;
		
	}
	
	body{
		
		display: flex;
		flex-direction: column;
		min-height: 100vh;

	}


	@media (prefers-reduced-motion: reduce){
		html {
			scroll-behavior: auto;
		}
	} 
	@media only screen and (max-width: 768px) {
		/* Centra las secciones en el eje X */
		html {
			width:fit-content;
			margin: 10px 20px ; 
			
		}
	}

</style>
